body {
    font-family: "Space Grotesk", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

.navbar {
    border-style: solid;
    border-radius: 1.2rem;
    margin: 1.5rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 20px 30px;
}

.navbar-left h1 {
    margin: 0;
    font-size: 24px;
}

.navbar-right a {
    text-decoration: none;
    color: #333;
    margin-left: 20px;
    font-size: 18px;
    transition: 0.15s ease-in-out;
}

.navbar-right a:hover{
    color: #007bff;
    transition: 0.15s ease-in-out;
}

.main-content {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

.main-content h2 {
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

.search-bar {
    font-family: "Space Grotesk", sans-serif;
    width: 80%;
    margin: 0 auto;
}

.search-bar input {
    font-family: "Space Grotesk", sans-serif;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 1.2rem;
    box-sizing: border-box;
    transition: 0.1s ease-in-out;
}

.search-bar input:focus {
    outline: none;
    border-color: #333;
    transition: 0.1s ease-in-out;
}

button{
    margin: 20px;
    height: 2rem;
    width: 6rem;
    font-family: "Space Grotesk", sans-serif;
    font-weight: bold;
    border-radius: 0.6rem;
    border-style: solid;
    transition: 0.1s ease-in-out;
}

button:hover{
    background-color: #c0c0c0;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

#totalDuration{
    font-size: 20px;
    font-weight: bold;
}