body {
    font-family: "Space Grotesk", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e; /* Dark background */
    color: #ffffff; /* Light text color */
}

.navbar {
    border-style: solid;
    border-radius: 1.2rem;
    margin: 1.5rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d2d; /* Dark navbar background */
    padding: 20px 30px;
    color: #ffffff;
}

.navbar-left h1 {
    margin: 0;
    font-size: 24px;
}

.navbar-right a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 20px;
    font-size: 18px;
    transition: 0.15s ease-in-out;
}

.navbar-right a:hover {
    color: #007aff; /* macOS blue highlight */
    transition: 0.15s ease-in-out;
}

.main-content {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

.main-content h2 {
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

.search-bar {
    font-family: "Space Grotesk", sans-serif;
    width: 80%;
    margin: 0 auto;
}

.search-bar input {
    font-family: "Space Grotesk", sans-serif;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 1.2rem;
    box-sizing: border-box;
    transition: 0.1s ease-in-out;
    background-color: #ffffff; /* Dark input background */
    color: #3c3c3c; /* Light input text */
}

.search-bar input:focus {
    outline: none;
    border-color: #007aff; /* macOS blue highlight */
    transition: 0.1s ease-in-out;
}

button {
    margin: 20px;
    height: 3rem;
    width: 6rem;
    font-family: "Space Grotesk", sans-serif;
    font-weight: bold;
    border-radius: 1rem;
    border-style: solid;
    transition: 0.1s ease-in-out;
    background-color: #2d2d2d; /* Dark button background */
    color: #ffffff; /* Light button text */
    border-color: #ffffff;
}

button:hover {
    border-color: #007aff; /* macOS blue highlight */
    transition: 0.2s ease-in-out;
    cursor: pointer;
    background-color: #1d1d1d;
}

#totalDuration {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 3rem;
}

th {
    font-weight: bold;
    color: #ffffff; /* Light table header text */
}

td {
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 400;
    color: #ffffff; /* Light table text */
}

table {
    background-color: #2d2d2d; /* Dark table background */
    border-radius: 1.2rem;
    overflow: hidden;
}

tr {
    border-bottom: 1px solid #444; /* Subtle border between rows */
}

img {
    border-radius: 0.6rem; /* Rounded corners for thumbnails */
}
